* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font: 'Roboto', sans-serif;
}

svg {
    width: 24px;
    height: 24px;
    background-color: inherit;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.sidebar {
    background-color: #1992D4;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 3fr;
    justify-content: center;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    gap: 85px;
}

.sidebar-header {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

.sidebar li{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.sidebar svg {
    fill: white;
}

.sidebar-header svg {
    width: 50px;
    height: 50px;
}


.sidebar span {
    margin: 0px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
    align-items: center; 
    justify-items: space-between; 
    gap: 100px;
}

.header-top span {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.search-bar label {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.search-bar input[type="search"] {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 50px; 
    width: 600px; 
    background-color: #f0f0f0; 
    box-sizing: border-box;
    outline: none; 
    font-size: 1rem;
    color: #333; 
}

.user-profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.temp {
    display: grid;
    align-items: end;
    justify-content: center;
}

.user-profile svg:nth-of-type(2) {
    width: 50px;
    height: 50px;
    fill: #1992D4;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.header-right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
}

.header-right span {
    font-size: 0.85rem;
}

.header-right svg {
    width: 72px;
    height: 72px;
    fill: #1992D4;
}

.header-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
}

.header-left button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: #1992D4;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    height: 50px;
}

.main-content {
    grid-area: main;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "projects annoucments"
    "projects trends";
}

.content-projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.card {
    background: #fff; 
    border-radius: 16px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    border-left: 12px solid #1992D4;
}

.card h7 {
    font-size: 1.5em; 
    font-weight: bold;
    margin: 0.2em; 
}

.card div {
    font-size: 1.2em; 
    color: #333;
    line-height: 1.5; 
    margin: 0.2em;
}

.card:hover {
    background: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    transition: background 0.3s ease, box-shadow 0.3s ease; 
}

.content-annoucements {
    grid-area: annoucments;
}

.content-trending {
    grid-area: trends;
}